
    table{
        border-collapse: collapse;
        margin: auto;
    }
    th, td{
        padding: 10px;
        text-align: center;
    }
    th{
        background-color: red;
        color: white;
        font-weight: bold;
    }
    tr:nth-child(even){
        background-color: white;
    }
    tr:nth-child(odd){
        background-color: lightgrey;
    }
    tr:last-child{
        border-bottom: 3px solid red;
    }